
link(rel='stylesheet', href='/stylesheets/magicsuggest-min.css')
link(rel='stylesheet', href='/stylesheets/fontawesome-all.min.css')
link(rel='stylesheet', href='/stylesheets/searchstyle.css')
link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')

script(src='/javascripts/XMLHttpErrorHandler.js')
script(src='/javascripts/ScriptsLoader.js')
script(src='/javascripts/magicsuggest-min.js' )

script(src='/javascripts/mainjs.js' )


script(src='/javascripts/XMLHttpPageManager.js')

